
* {
	box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    transition: all 0.2s linear;
}

/* Label */

.label{
    background-color: #111;
    border-radius: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px;
    position:relative;
    height:26px;
    width:50px;
    padding:5px;
    margin-right: 10px;
    float:right;

}

.label .ball{
    position:absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);	
}

.check:checked + .label .ball{
    transform: translateX(24px);
}

.flaticon-moon {
	color: #f1c40f;
   
}

.flaticon-sun {
	color: #f39c12;
   
}

.checkbox , .check{
    display:none;
}


.invalid{
    /* display: inline-block;
    position: relative;
    top: 25%; */
  
    color: #C51B1B;
    font-size: 20px;
    text-align:center;
}
.card{
    width: 400px;
    height:500px;
    border: none;
    overflow-y: auto;
    position:relative;
    display:table;
    background: inherit;
}

.close{
    float:right;

}
.close:focus{
    border:none;
    outline:none;
}

.card-header, .card-footer{
    background-color: inherit;
    border:none;
   
}

.card-header{
    padding-bottom: 10px;
}
.centert{
    text-align: center;
}
.bold{
    font-weight: bold;

}

.heading{
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
    color: #000000;
    -webkit-text-stroke: 0.01px #C51B1B;
    -webkit-text-fill-color:#000000 ;
    float:left;
    top:12px;
}

.heading img{
    width:30px;
    height:30px;
    margin-right: 10px;
}

.card-body{
    padding-top: 0;
    padding-bottom:0;
}
.card-footer{

   font-size: 14px;
    color: #9D9191;
   
}

/* Image tab */

#imgBox {
    padding:10px 5px;
}

#imgBox .imgDiv{
    display:inline-block;
    margin:10px;
    width:150px;
    height:150px;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   transform: scale(1);
}
.imgDiv img{
width:100%;
height:100%;
}

/* Scrollbar */

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color:#C51B1B ;
}




.nav{
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.tags {
    padding: 10px 10px;
    margin: 5px;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transition: 0.2s all;
}

.tags:hover, .review-div:hover{
    transform: translateY(-1px);
    box-shadow: 0px 8px 8px rgb(0 0 0 / 25%);
}
#ilogo{
    display:inline-block;
    width: 100px;
    height: 100px;
}
.main-title{
    margin-left: 50%;
    margin-top: 50%;
    text-align: center;
    transform: translate(-50%, -20%);
    margin-bottom: -100px;
}

.main-title .header {
    font-family: 'Rouge Script', cursive;
    font-size: 60px;
    color: #C51B1B;
    -webkit-text-stroke: 0.01px #000000 ;
   

}


/* Reviews */
.review-div{
    margin:5px;
    color:#fff;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    cursor:pointer;
    vertical-align: baseline;
    border-radius: .25rem;
    border: 1.5px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transition:0.2s all;
}


.review-div h6{
    color: gray;
}

#positive, #negative, #mixed{
    padding:10px 0;
    padding-top: -10px;
}
.review-div.positive{
    background-color:#28a745 ;
}

.review-div.negative{
    background-color: #EB4343;
}

.review-div.mixed{
    background-color: #FFC107;
}


/* Dark theme  */
body.dark , .card.dark {
    background-color: #1b1b2f;
    color:#fff;
}

body.dark .nav{
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

body.dark .header-dark {
    color:#EB4343;
    text-shadow: 0 1px 0 #fff;
}

body.dark .close{
    color:#fff;
    text-shadow: none;
}

body.dark .card-footer{
    color:rgba(255, 255, 255, 0.808)
}



body.dark .review-div , body.dark #imgBox .imgDiv{
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.521);
}

body.dark .tags{
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.521);
}

/* Loader  */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #c51b1b;
  font-size: 10px;
  top:-100px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}