body{
    font-family: 'Roboto', sans-serif;
}

.card{
    width: 400px;
    height: 500px;
    border: none;
}

.card-header, .card-footer{
    background-color: inherit;
    border:none;
}
.centert{
    text-align: center;
}
.bold{
    font-weight: bold;

}

.heading{
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
    color: #000000;
   
    -webkit-text-stroke: 0.01px #C51B1B;
    -webkit-text-fill-color:#000000 ;
    float:left;
}

.heading img{
    width:30px;
    height:30px;
    margin-right: 10px;
}

.card-body{
    padding-top: 0;
}
.card-footer{
 
   font-size: 14px;
    color: #9D9191;
}

.nav{
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.tags {
    padding: 10px 10px;
    margin: 5px;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
#ilogo{
    width: 100px;
    height: 100px;
    position: relative;
    left: 35%;
    top:20%;
}

.review-div{
    margin:5px;
    color:#fff;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
  
    vertical-align: baseline;
    border-radius: .25rem;
    border: 1.5px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.review-div h6{
    color: gray;
}

#positive, #negative, #mixed{
    padding:10px 0;
}
.review-div.positive{
    background-color:#28a745 ;
}

.review-div.negative{
    background-color: #EB4343;
}

.review-div.mixed{
    background-color: #FFC107;
}