

body{
    font-family: 'Roboto', sans-serif;
}
.invalid{
    display: inline-block;
    position: relative;
    top: 25%;
  
    color: #C51B1B;
    font-size: 20px;
    text-align:center;
}
.card{
    width: 400px;
    height: 500px;
    border: none;
    overflow-y: auto;
    position:relative;
    display:table;
}


.card::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar-thumb
{
	background-color:#C51B1B ;
}
.close{
    float:right;

}
.close:focus{
    border:none;
    outline:none;
}

.card-header, .card-footer{
    background-color: inherit;
    border:none;
   
}

.card-header{
    padding-bottom: 10px;
}
.centert{
    text-align: center;
}
.bold{
    font-weight: bold;

}

.heading{
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
    color: #000000;
   
    -webkit-text-stroke: 0.01px #C51B1B;
    -webkit-text-fill-color:#000000 ;
    float:left;
}

.heading img{
    width:30px;
    height:30px;
    margin-right: 10px;
}

.card-body{
    padding-top: 0;
}
.card-footer{

   font-size: 14px;
    color: #9D9191;
   
}

.nav{
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.tags {
    padding: 10px 10px;
    margin: 5px;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transition: 0.2s all;
}

.tags:hover, .review-div:hover{
    transform: translateZ(2px);
    box-shadow: 0px 8px 8px rgb(0 0 0 / 25%);
}
#ilogo{
    width: 100px;
    height: 100px;
    position: relative;
    left: 35%;
    top:20%;
}

.review-div{
    margin:5px;
    color:#fff;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    cursor:pointer;
    vertical-align: baseline;
    border-radius: .25rem;
    border: 1.5px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transition:0.2s all;
}


.review-div h6{
    color: gray;
}

#positive, #negative, #mixed{
    padding:10px 0;
}
.review-div.positive{
    background-color:#28a745 ;
}

.review-div.negative{
    background-color: #EB4343;
}

.review-div.mixed{
    background-color: #FFC107;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #c51b1b;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}