
* {
	box-sizing: border-box;
}

body{
    background-color: #fafafa;
    transition: all 0.2s linear;
}

.close{
padding-top:12px;
padding-right:12px;
opacity:0.8;
font-size: 18px;
}

.card-footer{
	font-size: 14px;
    color: #9D9191;
	 text-align: center;
	 padding:10px;
}

.loader-div{
	margin-left: 50%;
    padding-top: 50%;
    text-align: center;
    transform: translate(-50%, -20%);
    margin-bottom: -100px;
}

.loader-div h1{
    font-family: 'Rouge Script', cursive;
    font-size: 60px;
   color: #000;
}

.main-logo{
	display:inline-block;
    width: 100px;
    height: 100px;
}

/* Scrollbar */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color:#C51B1B ;
}

/* label */
.label{
    background-color: #111;
    border-radius: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px;
    position:relative;
    height:26px;
    width:50px;
    padding:5px;
    margin-right: 10px;
    float:right;
    top:10px;

}

.label .ball{
    position:absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);	
}

.check:checked + .label .ball{
    transform: translateX(24px);
}

.icon-moon {
	color: #f1c40f;
    font-size: 18px;
   
}

.icon-sun {
	color: #f39c12;
    font-size: 18px;
   
}

.checkbox , .check{
    display:none;
}

/* Dark theme  */
body.dark , .body-dark {
    background-color: #1b1b2f;
    color:#fff;
}

.body-dark .close{
    color:#fff;
    text-shadow: none;
}

.body-dark .loader-div h1{
    color:#EB4343;
    text-shadow: 0 1px 0 #fff;
}

.body-dark .card-footer{
    color:rgba(255, 255, 255, 0.808)
}


